body {
	padding-top: 54px;
	margin-top: 24px;
}

/* This is for section formatting */
div.sect-lv3 {
	padding-bottom: 2rem;
}

div.sect-lv3 > h3:first-child {
	margin-bottom: 0;
	padding-bottom: 1rem;
}

div.sect-lv4 {
	padding-bottom: 1rem;
}

div.sect-lv4 > h4:first-child {
	margin-bottom: 0;
	padding-bottom: 0.8rem;
}

div.last-elem, ul.last-elem, li.last-elem {
	margin-bottom: 0  !important;
    padding-bottom: 0  !important;
}

p {
	margin-bottom: 0;
}

div.visit-counter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 95%;
	height: auto;
}

/* This is for 'professional_services.html' */
ul.ul-reviewer {
	padding-left: 2rem;
	font-size: 1.2rem;
}

table.table-review {
	border: none;
	border-spacing: 0;
	width: 100%;
	font-size: 1.2rem;
}

td.td-conf-name {
	width: 12%;
	vertical-align: top;
	color: green;
}

td.td-review-years {
	width: 88%;
}

/* This is for 'publications.html' */
ul.ul-paper {
	margin-bottom: 0;
}

li.li-paper {
	padding-bottom: 0.5rem;
}

span.paper-name {
	font-size: 1.2rem;
}

span.paper-links a {
	color: red;
}


/* This is for 'awards.html' */
table.table-event {
	border: none;
	border-spacing: 0;
	width: 100%;
	font-size: 1.2rem;
}

td.td-event-time-1 {
	width: 15%;
	vertical-align: top;
	color: purple;
}

td.td-event-text-1 {
	width: 85%;
}

td.td-event-time-2 {
	width: 23%;
	vertical-align: top;
	color: purple;
}

td.td-event-text-2 {
	width: 77%;
}

span.event-name {
	font-weight: bold;
	font-style: italic;
}

span.event-desc {
	font-size: 1.0rem;
}


/* This is for 'index.html' */
table.table-news {
	border: none;
	border-spacing: 0;
	width: 100%;
}

td.td-news-time-1 {
	width: 13%;
	vertical-align: top;
	color: green;
}

td.td-news-text-1 {
	width: 87%;
}
