body {
	padding-top: 54px;
	margin-top: 24px;
}

/* This is for section formatting */
/* -------------------------------------------------------- */
div.sect-lv3 {
	padding-bottom: 2rem;
}

div.sect-lv3 > h3:first-child {
	margin-bottom: 0;
	padding-bottom: 1rem;
}

div.sect-lv4 {
	padding-bottom: 1rem;
}

div.sect-lv4 > h4:first-child {
	margin-bottom: 0;
	padding-bottom: 0.8rem;
}

div.last-elem, ul.last-elem, li.last-elem {
	margin-bottom: 0  !important;
    padding-bottom: 0  !important;
}

p {
	margin-bottom: 0;
}


div.article {
	text-align: justify;
	text-justify: inter-word;
}

/*
div#visit-tracker {
	display: block;
	margin-left: 0;
	max-width: 98%;
	height: auto;
}
*/
/* -------------------------------------------------------- */


/* For 'index.html' */
/* -------------------------------------------------------- */
table.table-news {
	border: none;
	border-spacing: 0;
	width: 100%;
}

td.td-news-time-1 {
	width: 13%;
	vertical-align: top;
	color: #38B000;
	/* color: green;  */
}

td.td-news-text-1 {
	width: 87%;
}
/* -------------------------------------------------------- */


/* For 'publications.html' */
/* -------------------------------------------------------- */
ul.ul-paper {
	margin-bottom: 0;
}

li.li-paper {
	padding-bottom: 0.5rem;
}

span.paper-name {
	font-size: 1.1rem;
	font-style: italic;
}

span.paper-conf-year {
	font-size: 1.1rem;
	color: #32CD43;
}

div.paper-item {
	text-align: left;
}

span.paper-links {
	font-size: 0.9rem;
}

span.paper-links a {
	color: red;
}

span.author-names {
	font-size: 0.9rem;
}
/* -------------------------------------------------------- */


/* For 'supervision.html' */
/* -------------------------------------------------------- */
table.table-student {
	border: none;
	border-collapse: separate;
	border-spacing: 0 1rem;
	width: 100%;
}

td.td-student {
	width: 100%;
	vertical-align: middle;
}

div.student-wrap {
	overflow: auto;
	vertical-align:middle;
}

img.student-image {
	border-radius: 50%;
	width: 120px;
	height: auto;
	float: left;
	margin-right: 1rem;
	margin-left: 0.5rem;
}

div.student-details {
	float: left;
	padding-top: 0.01rem;
}

span.student-name {
	font-style: italic;
	font-weight: bold;
	font-size: 1.1rem;
	color: #FF7900;
	/* color: orange; */
}

span.student-query {
	font-weight: bold;
	color: #8E443D;
	/* color: brown; */
}
/* -------------------------------------------------------- */


/* For 'phd_application.html' */
/* -------------------------------------------------------- */
ul.ul-topics, ul.required-docs,  ul.phd-select-criteria {
	/* list-style: none; */
    padding-left: 2rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

span.topic-title {
	font-style: italic;
	font-weight: bold;
}

span.select-criterion {
	font-style: italic;
	font-weight: bold;
}
/* -------------------------------------------------------- */


/* For 'professional_services.html' */
/* -------------------------------------------------------- */
table.table-review {
	border: none;
	border-spacing: 0;
	width: 100%;
	font-size: 1.1rem;
}

td.td-conf-name {
	width: 12%;
	vertical-align: top;
	color: #38B000;
	/* color: #55A630; */
	/* color: green; */
}

td.td-review-years {
	width: 88%;
}

div.review-hl {
	font-size: 0.9rem;
}
/* -------------------------------------------------------- */


/* For 'awards.html' */
/* -------------------------------------------------------- */
table.table-event {
	border: none;
	border-spacing: 0;
	width: 100%;
	font-size: 1.1rem;
}

td.td-event-time-1 {
	width: 14%;
	vertical-align: top;
	color: #9932CC;
	/* color: purple; */
}

td.td-event-text-1 {
	width: 86%;
}

td.td-event-time-2 {
	width: 20%;
	vertical-align: top;
	color: #E76F51;
	/* color: purple; */
}

td.td-event-text-2 {
	width: 80%;
}

span.event-name {
	font-weight: bold;
	font-style: italic;
}

span.event-desc {
	font-size: 0.9rem;
}
/* -------------------------------------------------------- */